In [24]:
# 모의고사 2회
# 제 1유형

In [25]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [26]:
df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/HR-Employee-Attrition.csv")

In [27]:
df.head(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [29]:
le = LabelEncoder()
df['le_Attrition'] = le.fit_transform(df['Attrition'])

In [30]:
df['Attrition'].value_counts()

Attrition
No     1233
Yes     237
Name: count, dtype: int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
 35  le_Attrition              1470 non-null   int32
dtypes: int32(1), int64(26), object(9)
memory usage: 407.8+ KB

In [32]:
df.select_dtypes(['object','category']).nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [33]:
df = df.drop(['Over18'], axis=1)

In [34]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,le_Attrition
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,80,0,8,0,1,6,4,0,5,1
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,80,1,10,3,3,10,7,1,7,0
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,80,0,7,3,3,0,0,0,0,1
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,80,0,8,3,3,8,7,3,0,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,80,1,6,3,3,2,2,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,80,1,17,3,3,5,2,0,3,0
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,80,1,9,5,3,7,7,1,7,0
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,80,1,6,0,3,6,2,0,3,0
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,80,0,17,3,2,9,6,0,8,0
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,80,0,6,3,4,4,3,1,2,0

In [35]:
df1 = df.select_dtypes(['number'])

In [36]:
df1

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,le_Attrition
0,41,1102,1,2,1,1,2,94,3,2,...,80,0,8,0,1,6,4,0,5,1
1,49,279,8,1,1,2,3,61,2,2,...,80,1,10,3,3,10,7,1,7,0
2,37,1373,2,2,1,4,4,92,2,1,...,80,0,7,3,3,0,0,0,0,1
3,33,1392,3,4,1,5,4,56,3,1,...,80,0,8,3,3,8,7,3,0,0
4,27,591,2,1,1,7,1,40,3,1,...,80,1,6,3,3,2,2,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,2,1,2061,3,41,4,2,...,80,1,17,3,3,5,2,0,3,0
1466,39,613,6,1,1,2062,4,42,2,3,...,80,1,9,5,3,7,7,1,7,0
1467,27,155,4,3,1,2064,2,87,4,2,...,80,1,6,0,3,6,2,0,3,0
1468,49,1023,2,3,1,2065,4,63,2,2,...,80,0,17,3,2,9,6,0,8,0
1469,34,628,8,3,1,2068,2,82,4,2,...,80,0,6,3,4,4,3,1,2,0

In [37]:
from scipy.stats import stats
corr = df1.corr(method = 'pearson') 
print(corr)

                               Age  DailyRate  DistanceFromHome  Education  \
Age                       1.000000   0.010661         -0.001686   0.208034
DailyRate                 0.010661   1.000000         -0.004985  -0.016806
DistanceFromHome         -0.001686  -0.004985          1.000000   0.021042
Education                 0.208034  -0.016806          0.021042   1.000000
EmployeeCount                  NaN        NaN               NaN        NaN
EmployeeNumber           -0.010145  -0.050990          0.032916   0.042070
EnvironmentSatisfaction   0.010146   0.018355         -0.016075  -0.027128
HourlyRate                0.024287   0.023381          0.031131   0.016775
JobInvolvement            0.029820   0.046135          0.008783   0.042438
JobLevel                  0.509604   0.002966          0.005303   0.101589
JobSatisfaction          -0.004892   0.030571         -0.003669  -0.011296
MonthlyIncome             0.497855   0.007707         -0.017014   0.094961
MonthlyRate               0.028051  -0.032182          0.027473  -0.026084
NumCompaniesWorked        0.299635   0.038153         -0.029251   0.126317
PercentSalaryHike         0.003634   0.022704          0.040235  -0.011111
PerformanceRating         0.001904   0.000473          0.027110  -0.024539
RelationshipSatisfaction  0.053535   0.007846          0.006557  -0.009118
StandardHours                  NaN        NaN               NaN        NaN
StockOptionLevel          0.037510   0.042143          0.044872   0.018422
TotalWorkingYears         0.680381   0.014515          0.004628   0.148280
TrainingTimesLastYear    -0.019621   0.002453         -0.036942  -0.025100
WorkLifeBalance          -0.021490  -0.037848         -0.026556   0.009819
YearsAtCompany            0.311309  -0.034055          0.009508   0.069114
YearsInCurrentRole        0.212901   0.009932          0.018845   0.060236
YearsSinceLastPromotion   0.216513  -0.033229          0.010029   0.054254
YearsWithCurrManager      0.202089  -0.026363          0.014406   0.069065
le_Attrition             -0.159205  -0.056652          0.077924  -0.031373

                          EmployeeCount  EmployeeNumber  \
Age                                 NaN       -0.010145
DailyRate                           NaN       -0.050990
DistanceFromHome                    NaN        0.032916
Education                           NaN        0.042070
EmployeeCount                       NaN             NaN
EmployeeNumber                      NaN        1.000000
EnvironmentSatisfaction             NaN        0.017621
HourlyRate                          NaN        0.035179
JobInvolvement                      NaN       -0.006888
JobLevel                            NaN       -0.018519
JobSatisfaction                     NaN       -0.046247
MonthlyIncome                       NaN       -0.014829
MonthlyRate                         NaN        0.012648
NumCompaniesWorked                  NaN       -0.001251
PercentSalaryHike                   NaN       -0.012944
PerformanceRating                   NaN       -0.020359
RelationshipSatisfaction            NaN       -0.069861
StandardHours                       NaN             NaN
StockOptionLevel                    NaN        0.062227
TotalWorkingYears                   NaN       -0.014365
TrainingTimesLastYear               NaN        0.023603
WorkLifeBalance                     NaN        0.010309
YearsAtCompany                      NaN       -0.011240
YearsInCurrentRole                  NaN       -0.008416
YearsSinceLastPromotion             NaN       -0.009019
YearsWithCurrManager                NaN       -0.009197
le_Attrition                        NaN       -0.010577

                          EnvironmentSatisfaction  HourlyRate  JobInvolvement  \
Age                                      0.010146    0.024287        0.029820
DailyRate                                0.018355    0.023381        0.046135
DistanceFromHome                        -0.016075    0.031131        0.008783
Education                               -0.027128    0.016775        0.042438
EmployeeCount                                 NaN         NaN             NaN
EmployeeNumber                           0.017621    0.035179       -0.006888
EnvironmentSatisfaction                  1.000000   -0.049857       -0.008278
HourlyRate                              -0.049857    1.000000        0.042861
JobInvolvement                          -0.008278    0.042861        1.000000
JobLevel                                 0.001212   -0.027853       -0.012630
JobSatisfaction                         -0.006784   -0.071335       -0.021476
MonthlyIncome                           -0.006259   -0.015794       -0.015271
MonthlyRate                              0.037600   -0.015297       -0.016322
NumCompaniesWorked                       0.012594    0.022157        0.015012
PercentSalaryHike                       -0.031701   -0.009062       -0.017205
PerformanceRating                       -0.029548   -0.002172       -0.029071
RelationshipSatisfaction                 0.007665    0.001330        0.034297
StandardHours                                 NaN         NaN             NaN
StockOptionLevel                         0.003432    0.050263        0.021523
TotalWorkingYears                       -0.002693   -0.002334       -0.005533
TrainingTimesLastYear                   -0.019359   -0.008548       -0.015338
WorkLifeBalance                          0.027627   -0.004607       -0.014617
YearsAtCompany                           0.001458   -0.019582       -0.021355
YearsInCurrentRole                       0.018007   -0.024106        0.008717
YearsSinceLastPromotion                  0.016194   -0.026716       -0.024184
YearsWithCurrManager                    -0.004999   -0.020123        0.025976
le_Attrition                            -0.103369   -0.006846       -0.130016

                          JobLevel  ...  StandardHours  StockOptionLevel  \
Age                       0.509604  ...            NaN          0.037510
DailyRate                 0.002966  ...            NaN          0.042143
DistanceFromHome          0.005303  ...            NaN          0.044872
Education                 0.101589  ...            NaN          0.018422
EmployeeCount                  NaN  ...            NaN               NaN
EmployeeNumber           -0.018519  ...            NaN          0.062227
EnvironmentSatisfaction   0.001212  ...            NaN          0.003432
HourlyRate               -0.027853  ...            NaN          0.050263
JobInvolvement           -0.012630  ...            NaN          0.021523
JobLevel                  1.000000  ...            NaN          0.013984
JobSatisfaction          -0.001944  ...            NaN          0.010690
MonthlyIncome             0.950300  ...            NaN          0.005408
MonthlyRate               0.039563  ...            NaN         -0.034323
NumCompaniesWorked        0.142501  ...            NaN          0.030075
PercentSalaryHike        -0.034730  ...            NaN          0.007528
PerformanceRating        -0.021222  ...            NaN          0.003506
RelationshipSatisfaction  0.021642  ...            NaN         -0.045952
StandardHours                  NaN  ...            NaN               NaN
StockOptionLevel          0.013984  ...            NaN          1.000000
TotalWorkingYears         0.782208  ...            NaN          0.010136
TrainingTimesLastYear    -0.018191  ...            NaN          0.011274
WorkLifeBalance           0.037818  ...            NaN          0.004129
YearsAtCompany            0.534739  ...            NaN          0.015058
YearsInCurrentRole        0.389447  ...            NaN          0.050818
YearsSinceLastPromotion   0.353885  ...            NaN          0.014352
YearsWithCurrManager      0.375281  ...            NaN          0.024698
le_Attrition             -0.169105  ...            NaN         -0.137145

                          TotalWorkingYears  TrainingTimesLastYear  \
Age                                0.680381              -0.019621
DailyRate                          0.014515               0.002453
DistanceFromHome                   0.004628              -0.036942
Education                          0.148280              -0.025100
EmployeeCount                           NaN                    NaN
EmployeeNumber                    -0.014365               0.023603
EnvironmentSatisfaction           -0.002693              -0.019359
HourlyRate                        -0.002334              -0.008548
JobInvolvement                    -0.005533              -0.015338
JobLevel                           0.782208              -0.018191
JobSatisfaction                   -0.020185              -0.005779
MonthlyIncome                      0.772893              -0.021736
MonthlyRate                        0.026442               0.001467
NumCompaniesWorked                 0.237639              -0.066054
PercentSalaryHike                 -0.020608              -0.005221
PerformanceRating                  0.006744              -0.015579
RelationshipSatisfaction           0.024054               0.002497
StandardHours                           NaN                    NaN
StockOptionLevel                   0.010136               0.011274
TotalWorkingYears                  1.000000              -0.035662
TrainingTimesLastYear             -0.035662               1.000000
WorkLifeBalance                    0.001008               0.028072
YearsAtCompany                     0.628133               0.003569
YearsInCurrentRole                 0.460365              -0.005738
YearsSinceLastPromotion            0.404858              -0.002067
YearsWithCurrManager               0.459188              -0.004096
le_Attrition                      -0.171063              -0.059478

                          WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
Age                             -0.021490        0.311309            0.212901
DailyRate                       -0.037848       -0.034055            0.009932
DistanceFromHome                -0.026556        0.009508            0.018845
Education                        0.009819        0.069114            0.060236
EmployeeCount                         NaN             NaN                 NaN
EmployeeNumber                   0.010309       -0.011240           -0.008416
EnvironmentSatisfaction          0.027627        0.001458            0.018007
HourlyRate                      -0.004607       -0.019582           -0.024106
JobInvolvement                  -0.014617       -0.021355            0.008717
JobLevel                         0.037818        0.534739            0.389447
JobSatisfaction                 -0.019459       -0.003803           -0.002305
MonthlyIncome                    0.030683        0.514285            0.363818
MonthlyRate                      0.007963       -0.023655           -0.012815
NumCompaniesWorked              -0.008366       -0.118421           -0.090754
PercentSalaryHike               -0.003280       -0.035991           -0.001520
PerformanceRating                0.002572        0.003435            0.034986
RelationshipSatisfaction         0.019604        0.019367           -0.015123
StandardHours                         NaN             NaN                 NaN
StockOptionLevel                 0.004129        0.015058            0.050818
TotalWorkingYears                0.001008        0.628133            0.460365
TrainingTimesLastYear            0.028072        0.003569           -0.005738
WorkLifeBalance                  1.000000        0.012089            0.049856
YearsAtCompany                   0.012089        1.000000            0.758754
YearsInCurrentRole               0.049856        0.758754            1.000000
YearsSinceLastPromotion          0.008941        0.618409            0.548056
YearsWithCurrManager             0.002759        0.769212            0.714365
le_Attrition                    -0.063939       -0.134392           -0.160545

                          YearsSinceLastPromotion  YearsWithCurrManager  \
Age                                      0.216513              0.202089
DailyRate                               -0.033229             -0.026363
DistanceFromHome                         0.010029              0.014406
Education                                0.054254              0.069065
EmployeeCount                                 NaN                   NaN
EmployeeNumber                          -0.009019             -0.009197
EnvironmentSatisfaction                  0.016194             -0.004999
HourlyRate                              -0.026716             -0.020123
JobInvolvement                          -0.024184              0.025976
JobLevel                                 0.353885              0.375281
JobSatisfaction                         -0.018214             -0.027656
MonthlyIncome                            0.344978              0.344079
MonthlyRate                              0.001567             -0.036746
NumCompaniesWorked                      -0.036814             -0.110319
PercentSalaryHike                       -0.022154             -0.011985
PerformanceRating                        0.017896              0.022827
RelationshipSatisfaction                 0.033493             -0.000867
StandardHours                                 NaN                   NaN
StockOptionLevel                         0.014352              0.024698
TotalWorkingYears                        0.404858              0.459188
TrainingTimesLastYear                   -0.002067             -0.004096
WorkLifeBalance                          0.008941              0.002759
YearsAtCompany                           0.618409              0.769212
YearsInCurrentRole                       0.548056              0.714365
YearsSinceLastPromotion                  1.000000              0.510224
YearsWithCurrManager                     0.510224              1.000000
le_Attrition                            -0.033019             -0.156199

                          le_Attrition
Age                          -0.159205
DailyRate                    -0.056652
DistanceFromHome              0.077924
Education                    -0.031373
EmployeeCount                      NaN
EmployeeNumber               -0.010577
EnvironmentSatisfaction      -0.103369
HourlyRate                   -0.006846
JobInvolvement               -0.130016
JobLevel                     -0.169105
JobSatisfaction              -0.103481
MonthlyIncome                -0.159840
MonthlyRate                   0.015170
NumCompaniesWorked            0.043494
PercentSalaryHike            -0.013478
PerformanceRating             0.002889
RelationshipSatisfaction     -0.045872
StandardHours                      NaN
StockOptionLevel             -0.137145
TotalWorkingYears            -0.171063
TrainingTimesLastYear        -0.059478
WorkLifeBalance              -0.063939
YearsAtCompany               -0.134392
YearsInCurrentRole           -0.160545
YearsSinceLastPromotion      -0.033019
YearsWithCurrManager         -0.156199
le_Attrition                  1.000000

[27 rows x 27 columns]

In [38]:
for i in range(0,24):
    for j in range(i+1,25):
        if(corr.iloc[i,j] >= 0.9) :
            print(i,j,corr.iloc[i,j])

9 11 0.9502999134798473

In [39]:
corr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, Age to le_Attrition
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       25 non-null     float64
 1   DailyRate                 25 non-null     float64
 2   DistanceFromHome          25 non-null     float64
 3   Education                 25 non-null     float64
 4   EmployeeCount             0 non-null      float64
 5   EmployeeNumber            25 non-null     float64
 6   EnvironmentSatisfaction   25 non-null     float64
 7   HourlyRate                25 non-null     float64
 8   JobInvolvement            25 non-null     float64
 9   JobLevel                  25 non-null     float64
 10  JobSatisfaction           25 non-null     float64
 11  MonthlyIncome             25 non-null     float64
 12  MonthlyRate               25 non-null     float64
 13  NumCompaniesWorked        25 non-null     float64
 14  PercentSalaryHike         25 non-null     float64
 15  PerformanceRating         25 non-null     float64
 16  RelationshipSatisfaction  25 non-null     float64
 17  StandardHours             0 non-null      float64
 18  StockOptionLevel          25 non-null     float64
 19  TotalWorkingYears         25 non-null     float64
 20  TrainingTimesLastYear     25 non-null     float64
 21  WorkLifeBalance           25 non-null     float64
 22  YearsAtCompany            25 non-null     float64
 23  YearsInCurrentRole        25 non-null     float64
 24  YearsSinceLastPromotion   25 non-null     float64
 25  YearsWithCurrManager      25 non-null     float64
 26  le_Attrition              25 non-null     float64
dtypes: float64(27)
memory usage: 7.0+ KB

In [42]:
df1 = df1.drop(["Joblevel"], axis=1, errors='ignore')