In [ ]:
# 1-1 보스턴 데이터
# 보스턴 데이터 범죄율 칼럼('CRIM')의 TOP10중 10번째 범죄율 값으로 1~10위의 범죄율 값을 변경 후,
# 'AGE'변수의 값이 80이상인것에 대한 범죄율 평균을 산출하라

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/boston.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [3]:
crim = df['CRIM'].sort_values(ascending=False)[:10]
print(crim)

tenth = crim.iloc[9]
print(tenth)

380    88.9762
418    73.5341
405    67.9208
410    51.1358
414    45.7461
404    41.5292
398    38.3518
427    37.6619
413    28.6558
417    25.9406
Name: CRIM, dtype: float64
25.9406

In [4]:
import numpy as np

df['CRIM'] = np.where(df['CRIM']>=tenth ,tenth, df['CRIM'])

In [5]:
# crim = df['CRIM'].sort_values(ascending=False)[:10]
# print(crim)
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [6]:
cond1 = (df['AGE'] >= 80)
mean = df[cond1]['CRIM'].mean()

In [7]:
print(mean)

5.759386625

In [ ]:
# # 1-2 하우징 데이터
# 주어진 데이터의 첫번째 행부터 순서대로 80%까지의 데이터를 추출후 
# 'total_bedrooms'변수의 결측값을 'total_bedrooms'변수의 중앙값으로 대체하고,
# 대체전의 'total_bedrooms'변수의 표준편차 값과 대체후의 'total_bedrooms'변수 표준편차 값을 산출하여 
# 대체 전 표준편차값- 대체 후 표준편차 값을 구해 출력한다.

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv')
df.head()

In [ ]:
per80 = int(len(df['total_bedrooms']) * 0.8)
print(per80)

In [ ]:
before = df.copy()
before = before.iloc[:per80,:]
print(before)

In [ ]:
after = before.copy()
median = after['total_bedrooms'].median()
after['total_bedrooms'] = after['total_bedrooms'].fillna(median)

In [ ]:
# after.isnull().sum()

In [ ]:
before = before['total_bedrooms'].std()
after = after['total_bedrooms'].std()

print(round(before-after, 3))