In [1]:
# 6회 기출문제(분류, macro f1-score)

# 2-01. 문제 이해
# 건강 상태 분류문제  
# dataset_url : https://www.kaggle.com/datasets/alphiree/cardiovascular-diseases-risk-prediction-dataset
# health_train.csv:학습 및 학습평가에 사용하는 파일
# health_test.csv : 제출용 데이터 생성에 사용하는 파일
# 예측할값 : General_Health
# 주의사항: 예측값이 0,1,2 가 아님(Excellent,Good,Fair)
# 평가:f1_score(macro)
# 아래의 형식으로 result.csv로 저장
import pandas as pd

In [2]:
train = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/health_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/health_test.csv')
train.head()

,ID,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,2703,Good,Within the past year,No,No,No,No,No,No,No,Male,80+,173.0,65.32,21.89,Yes,4.0,16.0,28.0,4.0
1,10131,Fair,Within the past year,No,Yes,No,No,No,No,Yes,Male,70-74,168.0,100.24,35.67,Yes,16.0,16.0,16.0,1.0
2,11033,Fair,Within the past year,No,No,No,No,No,Yes,Yes,Male,70-74,170.0,81.65,28.19,No,0.0,16.0,12.0,12.0
3,6036,Excellent,Within the past 2 years,Yes,No,No,No,No,"No, pre-diabetes or borderline diabetes",No,Male,35-39,183.0,89.36,26.72,No,8.0,60.0,30.0,1.0
4,6672,Excellent,Within the past year,Yes,No,No,No,No,No,No,Male,30-34,178.0,108.86,34.44,No,6.0,30.0,30.0,8.0

In [3]:
x_test.head()

,ID,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,4275,Within the past year,No,No,No,No,No,No,Yes,Male,75-79,178.0,90.72,28.70,Yes,4.0,30.0,0.0,0.0
1,838,Within the past year,Yes,No,No,No,No,Yes,Yes,Male,35-39,183.0,186.88,55.88,No,0.0,12.0,0.0,12.0
2,4105,Within the past year,No,No,No,Yes,No,No,No,Female,80+,163.0,90.72,34.33,No,0.0,30.0,2.0,2.0
3,3022,Within the past year,Yes,No,No,Yes,Yes,Yes,Yes,Female,45-49,173.0,99.79,33.45,No,0.0,30.0,8.0,0.0
4,1143,Within the past year,Yes,Yes,No,Yes,No,No,No,Female,80+,150.0,69.40,30.90,Yes,0.0,60.0,12.0,1.0

In [4]:
print(train.shape)
print(x_test.shape)

(8977, 20)
(3848, 19)

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8977 entries, 0 to 8976
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            8977 non-null   int64
 1   General_Health                8977 non-null   object
 2   Checkup                       8977 non-null   object
 3   Exercise                      8977 non-null   object
 4   Heart_Disease                 8977 non-null   object
 5   Skin_Cancer                   8977 non-null   object
 6   Other_Cancer                  8977 non-null   object
 7   Depression                    8977 non-null   object
 8   Diabetes                      8977 non-null   object
 9   Arthritis                     8977 non-null   object
 10  Sex                           8977 non-null   object
 11  Age_Category                  8977 non-null   object
 12  Height_(cm)                   8977 non-null   float64
 13  Weight_(kg)                   8977 non-null   float64
 14  BMI                           8977 non-null   float64
 15  Smoking_History               8977 non-null   object
 16  Alcohol_Consumption           8977 non-null   float64
 17  Fruit_Consumption             8977 non-null   float64
 18  Green_Vegetables_Consumption  8977 non-null   float64
 19  FriedPotato_Consumption       8977 non-null   float64
dtypes: float64(7), int64(1), object(12)
memory usage: 1.4+ MB

In [6]:
train = train.drop(columns='ID')
train

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Good,Within the past year,No,No,No,No,No,No,No,Male,80+,173.0,65.32,21.89,Yes,4.0,16.0,28.0,4.0
1,Fair,Within the past year,No,Yes,No,No,No,No,Yes,Male,70-74,168.0,100.24,35.67,Yes,16.0,16.0,16.0,1.0
2,Fair,Within the past year,No,No,No,No,No,Yes,Yes,Male,70-74,170.0,81.65,28.19,No,0.0,16.0,12.0,12.0
3,Excellent,Within the past 2 years,Yes,No,No,No,No,"No, pre-diabetes or borderline diabetes",No,Male,35-39,183.0,89.36,26.72,No,8.0,60.0,30.0,1.0
4,Excellent,Within the past year,Yes,No,No,No,No,No,No,Male,30-34,178.0,108.86,34.44,No,6.0,30.0,30.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8972,Good,Within the past year,Yes,Yes,Yes,No,No,Yes,Yes,Female,70-74,147.0,95.25,43.89,Yes,10.0,15.0,10.0,6.0
8973,Good,Within the past year,Yes,No,No,Yes,Yes,No,No,Female,45-49,152.0,61.69,26.56,No,3.0,16.0,8.0,4.0
8974,Good,Within the past 5 years,Yes,No,No,No,Yes,No,No,Male,25-29,193.0,147.42,39.56,Yes,0.0,8.0,1.0,2.0
8975,Good,Within the past year,No,Yes,No,No,No,No,Yes,Female,80+,165.0,83.46,30.62,No,0.0,60.0,4.0,0.0
8976,Excellent,Within the past year,Yes,No,No,No,No,No,No,Male,40-44,185.0,90.72,26.39,Yes,0.0,30.0,30.0,8.0

In [7]:
x = train.drop(columns='General_Health')
y = train['General_Health']
id = x_test['ID'].copy()

In [8]:
x.head()

,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Within the past year,No,No,No,No,No,No,No,Male,80+,173.0,65.32,21.89,Yes,4.0,16.0,28.0,4.0
1,Within the past year,No,Yes,No,No,No,No,Yes,Male,70-74,168.0,100.24,35.67,Yes,16.0,16.0,16.0,1.0
2,Within the past year,No,No,No,No,No,Yes,Yes,Male,70-74,170.0,81.65,28.19,No,0.0,16.0,12.0,12.0
3,Within the past 2 years,Yes,No,No,No,No,"No, pre-diabetes or borderline diabetes",No,Male,35-39,183.0,89.36,26.72,No,8.0,60.0,30.0,1.0
4,Within the past year,Yes,No,No,No,No,No,No,Male,30-34,178.0,108.86,34.44,No,6.0,30.0,30.0,8.0

In [9]:
x['Checkup'].value_counts()

Within the past year       6959
Within the past 2 years    1071
Within the past 5 years     496
5 or more years ago         401
Never                        50
Name: Checkup, dtype: int64

In [10]:
x['Checkup'] = x['Checkup'].replace(['Within the past year','Within the past 2 years','Within the past 5 years','5 or more years ago','Never'],[1,2,3,4,5])
x_test['Checkup'] = x_test['Checkup'].replace(['Within the past year','Within the past 2 years','Within the past 5 years','5 or more years ago','Never'],[1,2,3,4,5])

In [11]:
# x['Age_Category'].value_counts()
x['Age_Category'] = x['Age_Category'].replace(['18-24','25-29','30-34','35-39','40-44','45-49','50-54','55-59','60-64','65-69','70-74','75-79','80+'],[1,2,3,4,5,6,7,8,9,10,11,12,13])
x_test['Age_Category'] = x_test['Age_Category'].replace(['18-24','25-29','30-34','35-39','40-44','45-49','50-54','55-59','60-64','65-69','70-74','75-79','80+'],[1,2,3,4,5,6,7,8,9,10,11,12,13])

In [12]:
x

,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,1,No,No,No,No,No,No,No,Male,13,173.0,65.32,21.89,Yes,4.0,16.0,28.0,4.0
1,1,No,Yes,No,No,No,No,Yes,Male,11,168.0,100.24,35.67,Yes,16.0,16.0,16.0,1.0
2,1,No,No,No,No,No,Yes,Yes,Male,11,170.0,81.65,28.19,No,0.0,16.0,12.0,12.0
3,2,Yes,No,No,No,No,"No, pre-diabetes or borderline diabetes",No,Male,4,183.0,89.36,26.72,No,8.0,60.0,30.0,1.0
4,1,Yes,No,No,No,No,No,No,Male,3,178.0,108.86,34.44,No,6.0,30.0,30.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8972,1,Yes,Yes,Yes,No,No,Yes,Yes,Female,11,147.0,95.25,43.89,Yes,10.0,15.0,10.0,6.0
8973,1,Yes,No,No,Yes,Yes,No,No,Female,6,152.0,61.69,26.56,No,3.0,16.0,8.0,4.0
8974,3,Yes,No,No,No,Yes,No,No,Male,2,193.0,147.42,39.56,Yes,0.0,8.0,1.0,2.0
8975,1,No,Yes,No,No,No,No,Yes,Female,13,165.0,83.46,30.62,No,0.0,60.0,4.0,0.0
8976,1,Yes,No,No,No,No,No,No,Male,5,185.0,90.72,26.39,Yes,0.0,30.0,30.0,8.0

In [13]:
x_test = x_test.drop(columns='ID')

In [14]:
x = x.replace(['Yes','No'],[1,0])
x_test = x_test.replace(['Yes','No'],[1,0])

In [15]:
x['Diabetes'].value_counts()
x_test['Diabetes'].value_counts()

0                                             3151
1                                              596
No, pre-diabetes or borderline diabetes         72
Yes, but female told only during pregnancy      29
Name: Diabetes, dtype: int64

In [16]:
x['Diabetes'] = x['Diabetes'].replace(['No, pre-diabetes or borderline diabetes','Yes, but female told only during pregnancy'],[3,4])
x_test['Diabetes'] = x_test['Diabetes'].replace(['No, pre-diabetes or borderline diabetes','Yes, but female told only during pregnancy'],[3,4])

In [23]:
x['Sex'] = x['Sex'].replace(['Female','Male'],[0,1])
x_test['Sex'] = x_test['Sex'].replace(['Female','Male'],[0,1])

In [24]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)
y

array([2, 1, 1, ..., 2, 2, 0], dtype=int64)

In [25]:
from sklearn.model_selection import train_test_split

x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.2,stratify=y ,random_state=2024)

print(x_train.shape, y_train.shape)
print(x_val.shape, y_val.shape)

(7181, 18) (7181,)
(1796, 18) (1796,)

In [26]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(random_state=2024)
model = rfc.fit(x_train,y_train)
pred = model.predict(x_val)

In [27]:
x_val

,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
2770,4,1,0,0,0,0,0,0,1,2,173.0,68.04,22.81,1,20.0,2.0,0.0,7.0
7180,2,1,0,0,0,0,0,0,1,3,183.0,90.72,27.12,1,0.0,30.0,8.0,8.0
2210,1,0,0,0,0,0,1,0,1,8,173.0,74.84,25.09,0,0.0,0.0,0.0,4.0
6171,4,1,0,0,0,0,0,0,1,9,178.0,113.40,35.87,1,15.0,30.0,30.0,4.0
3930,1,1,1,0,0,1,0,1,1,10,180.0,92.99,28.59,0,1.0,16.0,20.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5530,1,0,0,0,0,1,1,0,0,10,155.0,95.25,39.68,1,0.0,30.0,16.0,4.0
1391,1,1,0,0,0,0,0,0,0,5,160.0,81.65,31.89,1,0.0,1.0,30.0,1.0
5847,1,1,0,0,0,1,0,0,0,4,168.0,54.43,19.37,0,0.0,30.0,8.0,30.0
5830,1,1,0,0,0,1,0,1,0,2,165.0,62.60,22.96,0,8.0,24.0,4.0,8.0
2234,1,1,0,0,0,0,0,0,0,7,170.0,58.97,20.36,0,0.0,4.0,60.0,0.0

In [28]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

acc = accuracy_score(y_val, pred)
matrix = confusion_matrix(y_val, pred)
report = classification_report(y_val, pred)

print(acc, matrix, report)

0.5400890868596881 [[445  43 139]
 [ 54 229 218]
 [200 172 296]]               precision    recall  f1-score   support

           0       0.64      0.71      0.67       627
           1       0.52      0.46      0.48       501
           2       0.45      0.44      0.45       668

    accuracy                           0.54      1796
   macro avg       0.54      0.54      0.53      1796
weighted avg       0.53      0.54      0.54      1796

In [ ]:
# from sklearn.model_selection import GridSearchCV

# param_grid = {'max_depth':[50,100,150],
#              'min_samples_split':[5,10,15] }

# gridCV = GridSearchCV(estimator=model, param_grid=param_grid, cv=5, n_jobs=-1, verbose=0)
# model2 = gridCV.fit(x_train,y_train)
# pred2 = model2.predict(x_val)

In [ ]:
# print(model2.best_params_)
# print(model2.best_score_)

{'max_depth': 50, 'min_samples_split': 10}
0.5428221127658791

In [35]:
pred3 = model.predict(x_test)

In [41]:
# pred3
id

0        4275
1         838
2        4105
3        3022
4        1143
        ...
3843     4556
3844    12266
3845    11024
3846     4861
3847     5613
Name: ID, Length: 3848, dtype: int64

In [42]:
answer = pd.DataFrame({'id':id,'pred':pred3})
print(answer)

         id  pred
0      4275     1
1       838     1
2      4105     1
3      3022     1
4      1143     1
...     ...   ...
3843   4556     2
3844  12266     1
3845  11024     2
3846   4861     1
3847   5613     2

[3848 rows x 2 columns]

In [45]:
answer['pred'] = answer['pred'].replace([2,1,0],['Good','Fair','Excellent'])
answer

         id  pred
0      4275  Fair
1       838  Fair
2      4105  Fair
3      3022  Fair
4      1143  Fair
...     ...   ...
3843   4556  Good
3844  12266  Fair
3845  11024  Good
3846   4861  Fair
3847   5613  Good

[3848 rows x 2 columns]